{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static "common.css" %}">
<link rel="stylesheet" href="{% static "main/index.css" %}">
{% endblock extra_css %}


{% block content %}

    <div class="container">
        <header class="hero-section text-center">
            <h1 class="hero-title">Лента сетапов</h1>
            <p class="hero-subtitle text-secondary">Лучшие рабочие пространства нашего сообщества</p>
        </header>

        <!-- Фильтр постов -->
        <div class="filter-nav d-flex justify-content-center gap-2 mb-5">
            <a href="?status=all" class="filter-btn {% if request.GET.status == 'all' or not request.GET.status %}active{% endif %}">Все посты</a>
            <a href="?status=old" class="filter-btn {% if request.GET.status == 'old'%}active{% endif %}">Давние посты</a>
            <a href="?status=likes" class="filter-btn {% if request.GET.status == 'likes'%}active{% endif %}">Популярные</a>
        </div>

        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 mb-5">

            {% for post in posts %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ post.main_photo.url }}" class="card-img-top" alt="Setup">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">

                            <div class="tags-group">
                                {% for teg in post.tegs.all|slice:":3" %}
                                <span class="badge-custom"># {{ teg.name|slice:":6"}}</span>
                                {% endfor %}
                            </div>
                            
                            <span class="post-time">{{post.time|timesince}}</span>
                        </div>

                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.story_setup|truncatewords:10}}</p>

                        <!-- Детальная инфа поста -->
                        <form action="{% url 'main:detail_post' post.pk %}">
                            {% csrf_token %}
                            <div class="mt-auto d-flex justify-content-center">
                                <button type='submit' onclick="location.href='detail.html'" class="btn-details">ПОДРОБНЕЕ →</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>


<nav aria-label="Page navigation" class="mt-5">
  <ul class="pagination pagination-lg justify-content-center setup-pagination">
    
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}

    {% for page_num in page_obj.paginator.page_range %}
      {% if page_obj.number == page_num %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">{{ page_num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}

  </ul>
</nav>
{% endblock content %}
