<!DOCTYPE html>

<html lang="en" data-bs-theme="{% block theme %}light{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {% block extra_css %}{% endblock extra_css %}
</head>


<body>
<nav class="navbar navbar-expand-lg sticky-top custom-navbar">
    <div class="container d-flex justify-content-between align-items-center">
        
        <div class="nav-left">
            <a class="navbar-brand" href="{% url 'main:main_page' %}">SETUP<span>SHARE</span></a>
        </div>
        
        {% if user.is_authenticated %}
        <div class="nav-center d-none d-lg-block">
            <div class="user-welcome-center">
                Hi, <span class="highlight-name">{{request.user.username}}</span>!
            </div>
        </div>

        <div class="nav-right d-flex align-items-center gap-3">
            <a href="{% url 'Shop:mainshop' %}" class="btn-market-right">
                <i class="fa-solid fa-cart-shopping"></i> SetupMarket
            </a>
             
            <div class="control-capsule d-flex align-items-center">
                {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}" class="btn-cap btn-admin-visible">Админ</a>
                {% endif %}

                <a href="{% url 'users:profile' pk=request.user.pk %}" class="btn-cap btn-profile-main">Профиль</a>
                
                <form action="{% url 'users:logout' %}" method="post" class="m-0">
                    {% csrf_token %}
                    <button type="submit" class="btn-cap btn-exit-large">Выйти</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="nav-right">
            <a href="{% url 'users:login' %}" class="btn-cap btn-profile-main">Войти</a>
        </div>
        {% endif %}
    </div>
</nav>


    {% block content %}
    {% endblock %}
</body>
