{% extends "base_auth.html" %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Вход{% endblock title %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static "users/login.css" %}">
    {% endblock extra_css %}
</head>

{% block content %}
    <main class="auth-page">
        <div class="login-container">
            <div class="logo"><a href="{% url 'main:main_page'%}">SetupShare</a></div>
            
            <form class="login-form" method='post'>
                <h1>Вход в аккаунт</h1>
                <p class="subtitle">Присоединяйся к сообществу лучших сетапов</p>
                {% csrf_token %}
                

                {% for field in form %}
                <div class="input-field">
                    
                    {{field}}

                    <label for="login">{{ field.label }}</label>
                </div>
                {% endfor %}

                {% if form.non_field_errors %}
                    <p style="color: red;">Логин или пароль были не правельны</p>
                {% endif %}


                <div class="extra-actions">
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        Запомнить меня
                    </label>
                    <a href="#" class="forgot-link">Забыли пароль?</a>
                </div>

                <button type="submit" class="login-button">ВОЙТИ В СИСТЕМУ</button>

                <div class="register-offer">
                    Впервые у нас? <a href="{% url 'users:registers'%}">Создать аккаунт</a>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}