{% extends "base.html" %}
{% load static %}

    {% block title %}Профиль — SetupShare{% endblock title %}
    {% block extra_css %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'common.css'%}">
        <link rel="stylesheet" href="{% static 'users/user_profile.css'%}">
    {% endblock extra_css %}
    
{% block content %}

<div class="container mt-5 mb-5">
    <header class="profile-header" style="--bg-image: url('{% if user_profile.biousers.background_image %}{{user_profile.biousers.background_image.url}}{% endif %}');">
        
        <div class="profile-content">
            <div class="avatar-container">
                <div class="avatar-large">
                    {% if user_profile.biousers.avatar %}
                        <img src="{{ user_profile.biousers.avatar.url }}" alt="Avatar" class="avatar-img">
                    {% else %}
                        {{ user_profile.biousers.first_name|default:user_profile.username|slice:":1"|upper }}
                    {% endif %}
                </div>
                {% if request.user == user_profile %}
                    <button class="btn-edit-avatar" title="Изменить фото профиля">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                {% endif %}
            </div>

            <h1 class="profile-name">{{ user_profile.biousers.first_name|default:user_profile.username }}</h1>
            <p class="profile-tag">{{user_profile.biousers.profission|default:''}}</p>
            
            <div class="profile-bio-container mx-auto">
                <p class="profile-bio">
                    {{user_profile.biousers.bio|default:''}}
                </p>
            </div>

            <!-- ссылки -->
            <div class="social-links mb-4">
                {% if user_profile.biousers.github_url %}
                    <a href="{{user_profile.biousers.github_url}}" target="_blank" class="social-icon"><i class="bi bi-github"></i></a>
                {% endif %}
                {% if user_profile.biousers.Instagram_url %}
                    <a href="{{user_profile.biousers.Instagram_url}}" target="_blank" class="social-icon"><i class="bi bi-instagram"></i></a>
                {% endif %}
                {% if user_profile.biousers.discord_username %}
                    <a href="{{user_profile.biousers.discord_username}}" target="_blank" class="social-icon"><i class="bi bi-discord"></i></a>
                {% endif %}
                {% if user_profile.biousers.steam_url%}
                    <a href="{{user_profile.biousers.steam_url}}" target="_blank" class="social-icon"><i class="bi bi-steam"></i></a>
                {% endif %}
                {% if user_profile.biousers.telegram_url %}
                    <a href="{{user_profile.biousers.telegram_url}}" target="_blank" class="social-icon"><i class="bi bi-telegram"></i></a>
                {% endif %}
                {% if user_profile.biousers.spotify_url %}
                    <a href="{{user_profile.biousers.spotify_url}}" target="_blank" class="social-icon"><i class="bi bi-spotify"></i></a>
                {% endif %}
                {% if user_profile.biousers.tiktok_url %}
                    <a href="{{user_profile.biousers.tiktok_url}}" target="_blank" class="social-icon"><i class="bi bi-tiktok"></i></a>
                {% endif %}
            </div>

            <div class="profile-stats">
                <div class="stat-item">
                    <span class="stat-number">{{ all_post }}</span>
                    <span class="stat-label">Публикации</span>
                </div>
                <div class="stat-item">
                    <span class="stat-number">{{ total_likes }}</span>
                    <span class="stat-label">Лайков</span>
                </div>
            </div>

            
            <div class="profile-actions">
                {% if request.user == user_profile %}
                <a href="{% url 'main:add_post' %}" class="btn-add-post">
                    <i class="bi bi-plus-lg me-1"></i> НОВЫЙ ПОСТ
                </a>

                <a href="{% url 'users:edit-profile' pk=request.user.pk %}" class="btn-edit-profile"> ИЗМЕНИТЬ ПРОФИЛЬ</a>
                {% else %}
                    <a href="{% url 'users:edit-profile' pk=request.user.pk %}" class="btn-edit-profile2"><i class="bi bi-pencil-square"></i> Написать</a>
                {% endif %}
            </div>
            
        </div>
    </header>
    
    <!-- Кнопки ПОНРАВИЛОСЬ\МОИПОСТЫ -->
    <div class="profile-nav mb-5">
        <a href="?status=my" class="profile-nav-btn {% if request.GET.status == 'my' %}active{% endif %}">
            <i class="bi bi-grid-3x3-gap me-2"></i> {% if request.user == user_profile %}МОИ ПОСТЫ{% else %}Посты автора {% endif %}
        </a>
        {% if request.user == user_profile %}
        <a href="?status=like" class="profile-nav-btn {% if request.GET.status == 'like' %}active{% endif %}">
            <i class="bi bi-heart-fill me-2"></i>ПОНРАВИЛОСЬ
        </a>
        {% endif %}
    </div>

    <!-- Посты автора -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
        {% for posts in post %}
        <div class="col">
            <div class="card h-100"> 
                <img src="{{ posts.main_photo.url }}" class="card-img-top" alt="{{ posts.title }}">
                
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="tags-container">
                            {% for tag in posts.tegs.all %}
                                <span class="badge-custom">{{ tag.name|slice:":3" }}</span>
                            {% endfor %}
                        </div>
                        <span class="post-time" style="font-size: 0.7rem; color: #64748b;">
                            {{ posts.time|timesince }} назад
                        </span>
                    </div>

                    <h5 class="card-title">{{ posts.title }}</h5>
                    <p class="card-text">{{ posts.story_setup|truncatewords:10 }}</p>

                    <div class="mt-auto d-flex justify-content-center">
                        <a href="{{ posts.get_absolute_url }}" class="btn-details-profile">ПОДРОБНЕЕ</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>  


<!-- Форма для загрузки аватара -->
<div id="avatar-modal" class="avatar-modal-overlay" style="display: none;">
    <div class="avatar-modal-content glass-card">
        <div class="modal-header">
            <h3>ОБНОВИТЬ АВАТАР</h3>
            <span class="close-btn" id="close-modal">&times;</span>
        </div>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="upload-container">
                <label for="file-upload" class="custom-file-upload">
                    <i class="bi bi-cloud-arrow-up"></i> ВЫБРАТЬ ФАЙЛ
                </label>
                {{avatar_form.avatar}}
                <p id="file-name" class="file-name-hint">Файл не выбран</p>
            </div>
            
            <div class="modal-footer">
                <button type="submit" class="btn-save">СОХРАНИТЬ</button>
            </div>
        </form>
    </div>
</div>



<script>
const modal = document.getElementById('avatar-modal');
const openBtn = document.querySelector('.btn-edit-avatar');
const closeBtn = document.getElementById('close-modal');
const fileInput = document.getElementById('file-upload');
const fileNameDisplay = document.getElementById('file-name');


openBtn.onclick = (e) => {
    e.preventDefault();
    modal.style.display = 'flex';
};

// Закрыть окно
closeBtn.onclick = () => {
    modal.style.display = 'none';
};

// Показать имя файла после выбора
fileInput.onchange = () => {
    fileNameDisplay.innerText = fileInput.files[0] ? fileInput.files[0].name : "Файл не выбран";
};
</script>
{% endblock content %}
